@page "/"
@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-center">
                <h5 class="card-header">Default</h5>
                <div class="card-body">
                    <AnalogClock.AnalogClockComponent Height="240" ClockType="AnalogClockType.Default"></AnalogClock.AnalogClockComponent>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <h5 class="card-header">Black Bolded</h5>
                <div class="card-body">
                    <AnalogClock.AnalogClockComponent Height="240" ClockType="AnalogClockType.Black_Bolded"></AnalogClock.AnalogClockComponent>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <h5 class="card-header">Gray Fantastic</h5>
                <div class="card-body">
                    <AnalogClock.AnalogClockComponent Height="240" ClockType="AnalogClockType.Gray_Fantastic"></AnalogClock.AnalogClockComponent>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-center">
                <h5 class="card-header">Modern Dark</h5>
                <div class="card-body">
                    <AnalogClockComponent Height="240" ClockType="AnalogClockType.Modern_Dark"></AnalogClockComponent>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <h5 class="card-header">Nice Bolded</h5>
                <div class="card-body">
                    <AnalogClockComponent Height="240" ClockType="AnalogClockType.Nice_Bolded"></AnalogClockComponent>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <h5 class="card-header">Ocean_Blue</h5>
                <div class="card-body">
                    <AnalogClockComponent Height="240" ClockType="AnalogClockType.Ocean_Blue"></AnalogClockComponent>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-center">
                <h5 class="card-header">White Nice</h5>
                <div class="card-body">
                    <AnalogClockComponent Height="240" ClockType="AnalogClockType.White_Nice"></AnalogClockComponent>
                </div>
            </div>
        </div>
    </div>
</div>